{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add course{% endblock title %}

{% block content %}
    <div class="breadcrumb mb-4">
        <div class="container">
            <h1>Add a course</h1>
        </div>
    </div>
    <form action="" method="POST" class="form-group m-3 text-white">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn btn-primary form-control" value="Add Course">
    </form>
{% endblock content %}


{% block domready %}{% endblock domready %}