{% extends 'base.html' %}

{% block title %}My Courses{% endblock title %}

{% block content %}
    <div class="breadcrumb mb-4">
        <div class="container">
            <h1>My Courses</h1>
        </div>
    </div>
    <div class="row">
        {% for course in object_list %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{course.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">{{course.overview}}</p>
                        <a href="{% url 'course_edit' course.id%}" class="card-link">Edit</a>
                        <a href="{% url 'course_delete' course.id%}" class="card-link">Delete</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>You haven't created any courses yet.</p>
        {% endfor %}
    </div>
    <p class="mt-5 text-right">
        <a href="{% url 'course_create' %}" class="btn btn-lg btn-primary">Create  new course</a>
    </p>
{% endblock content %}


{% block domready %}{% endblock domready %}